<div class="visa-card flex">
    <div class="logoContainer">
        @if(cardIssuer)
        {
            <img [src]="cardIssuer.logo" [alt]="cardIssuer.name" class="card-logo w-full h-full">
        }
        @else
        {
            <img [src]="" [alt]="" class="card-logo">
        }
    </div>
    <div class="number-container">
        <label class="input-label" for="cardNumber">CARD NUMBER</label>
        <input 
        [(ngModel)]="cardDetails.cardDetails"
        class="inputstyle"
        id="cardNumber" 
        placeholder="XXXX XXXX XXXX XXXX" 
        name="cardNumber" 
        type="text" 
        (input)="onInputChange()" />
    </div>
    
    <div class="name-date-cvv-container">
        <div class="name-wrapper">
            <label class="input-label" for="holderName">CARD HOLDER</label>
            <input class="inputstyle" [(ngModel)]="cardDetails.cardOwner" id="holderName" placeholder="NAME" type="text" />
        </div>

        <div class="expiry-wrapper">
            <label class="input-label" for="expiry">VALID THRU</label>
            <input class="inputstyle" [(ngModel)]="cardDetails.cardExpirationDate" id="expiry" placeholder="MM/YY" type="text" />
        </div>
        <div class="cvv-wrapper">
            <label class="input-label" for="cvv">CVV</label>
            <input class="inputstyle" [(ngModel)]="cardDetails.cardCVV" placeholder="***" maxlength="3" id="cvv" type="password" />
        </div>
    </div>
</div>