<div class="dropdown-container justify-center">
	<div class="dropdown">
		<label class="btn hover:btn-solid-primary my-2" tabindex="0">
            <fa-icon [icon]="shoppingCartIcon"></fa-icon>
        </label>
		<div class="dropdown-menu dropdown-menu-bottom-center flex w-fit h-fit">
            @if(getCartEntries().length <= 0)
            {
                <div class="dropdown-item object-contain w-full h-full">
                    <a class="text-sm w-max h-max">El carrito esta vacio :(</a>
                </div>
            }
            @else
            {
                @for (item of getCartEntries(); track $index) 
                {
                    <div class="dropdown-item object-contain w-full h-full grid-cols-2 grid-rows-1" (click)="navigateToBook(item.Books_ISBN)">
                        <a class="text-sm w-max h-max">{{getBookName(item.Books_ISBN)}} (x{{item.Quantity}}) {{getPrecio(item.Books_ISBN, item.Quantity)}}€</a>
                    </div>
                }

                <div class="dropdown-item object-contain w-full h-full grid-cols-2 grid-rows-1">
                    <a class="text-sm w-max h-max">Total: {{getTotalPrecio()}}€</a>
                </div>

                <button class="btn dropdown-item w-full h-full object-contain hover:btn-solid-primary" [routerLink]="['/cart']">Ir al carrito</button>
            }
		</div>
	</div>
</div>