@if(!isOverflowing)
{
<footer class="navbar rounded-lg bottom-0 fixed">
	<div class="navbar-start">
		<a class="link link-primary" [routerLink]="['/home']">TodoLibro &copy; 2024-2025</a>
	</div>
	<div class="navbar-center">
		<a class="link link-primary" [routerLink]="['/privacy-policy']">Politica de privacidad de datos</a>
		<div class="divider divider-vertical h-12"></div>
		<a class="link link-primary">Uso de contenido de usuario</a>
	</div>
	<div class="navbar-end gap-5">
		<a class="link link-primary">Terminos y servicios de uso</a>
	</div>
</footer>
}
@else
{
<footer class="navbar rounded-lg mt-10 mb-[2px]">
	<div class="navbar-start">
		<a class="link link-primary" [routerLink]="['/home']">TodoLibro &copy; 2024-2025</a>
	</div>
	<div class="navbar-center">
		<a class="link link-primary" [routerLink]="['/privacy-policy']">Politica de privacidad de datos</a>
		<div class="divider divider-vertical h-12"></div>
		<a class="link link-primary">Uso de contenido de usuario</a>
	</div>
	<div class="navbar-end gap-5">
		<a class="link link-primary">Terminos y servicios de uso</a>
	</div>
</footer>
}