<div class="flex w-full overflow-x-auto">
    <table class="table-zebra table">
        <thead>
            <tr>
                @for (item of header; track $index)
                {
                <th>{{item}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (table_data?.length === 0)
            {
            <tr>
                @for (item of header; track $index)
                {
                <td><app-loading-field></app-loading-field></td>
                }
            </tr>
            }
            @else
            {
            @for (item of table_data; track $index)
            {
            <tr>
                <td class="tooltip tooltip-top" data-tooltip="User Name">
                    {{item.userId}}
                </td>
                <td>{{item.Action}}</td>
                <td>{{item.Date}}</td>
                <td><button class="btn btn-outline-error" (click)="deleteLog(item);">Delete</button></td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>