<app-topbar></app-topbar>
<div class="card max-w-full max-h-full p-10 h-full">
    <span class="text-[12px]">
        <h1 class="text-2xl">Política de Privacidad de Datos</h1>
        Última actualización: Abril 2025 (Esto para nada se ha escrito con ChatGPT)
    </span>

    <p class="text-md">
        Este sitio web, TodoLibro, ha sido desarrollado como parte de un proyecto final académico. No representa una empresa, no se encuentra en producción pública y no recopila ni almacena información personal con fines comerciales.
    </p>

    <div class="divider h-0"></div>

    <h2 class="text-xl">
        1. 📥 Información recopilada
    </h2>
    <p class="text-[12px]">
        Durante el uso de esta plataforma, se pueden procesar los siguientes datos únicamente de forma temporal y local:
        Correo electrónico, nombre de usuario y contraseña (solo para pruebas).
        Foto de perfil (Solo se almacena la ultima que has subido a nuestro servidor y se pueden utilizar URLs).
        Contenido como reseñas o listas de libros.
        Estos datos no se almacenan permanentemente ni se utilizan fuera del contexto de la demostración.
    </p>

    <div class="divider h-0"></div>

    <h2 class="text-xl">
        2. 🔒 Uso y almacenamiento de datos
    </h2>
    <p class="text-[12px]">
        Toda la información ingresada es utilizada exclusivamente para fines demostrativos.
        No se envía ni se comparte con terceros.

        La información puede eliminarse sin previo aviso.
    </p>

    <div class="divider h-0"></div>

    <h2 class="text-xl">
        3. 📤 Compartición de datos
    </h2>
    <p class="text-[12px]">
        No se realiza ningún tipo de compartición, venta ni cesión de datos a terceros.
    </p>

    <div class="divider h-0"></div>

    <h2 class="text-xl">
        4. 🍪 Cookies y seguimiento
    </h2>
    <p>
        Este sitio solo utiliza cookies para las sesiones.
        Este sitio web no utiliza funciones de rastreo.
    </p>

    <div class="divider h-0"></div>

    <h2 class="text-xl">
        5. 📧 Contacto
    </h2>
    <p class="text-[12px]">
        Este proyecto no cuenta con un dominio ni con un canal de contacto oficial. Para más información, por favor contacte directamente al autor/a del proyecto en el entorno académico correspondiente.
    </p>

    <div class="divider h-0"></div>

    <h2 class="text-xl">
        6. 🔄 Cambios
    </h2>
    <p class="text-[12px]">
        Dado que es un proyecto en desarrollo, esta política puede modificarse sin previo aviso como parte de ajustes funcionales o de presentación.
    </p>

</div>

<app-footer></app-footer>