<div class="card flexbox desktop-only">
    <div class="card-body image gap-5">
        <img class="flex-shrink" style="background-image: url('{{inputItem?.Image}}');" [src]="inputItem?.Image">
        <p class="center">{{inputItem?.Name}}</p>
        <div class="flex_container">
            <a class="rel" routerLink="/author/{{inputItem?.Author}}">Autor: {{Author?.Name}}</a>
            <a class="rel" routerLink="/publishers/{{inputItem?.Publisher}}">Editorial: {{Publisher?.Name}}</a>
            <a>Precio: {{inputItem?.Price}}€</a>
            <br>
            <button class="btn btn-primary" [routerLink]="['/book', inputItem?.ISBN]">Ver Ahora</button>
        </div>
    </div>
</div>