<label class="btn btn-primary hidden" for="modal-1">Open Modal</label>
<input #modalHandler class="modal-state hidden" id="modal-1" type="checkbox" (click)="hidePopup();" />
<div class="modal">
  <label class="modal-overlay" for="modal-1"></label>
  <div class="modal-content flex flex-col gap-5 w-fit h-fit">
    <label for="modal-1" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
    <h2 class="text-xl m-5">{{popupTitle}}</h2>
    <div class="flex flex-col gap-5">
      <span>
        ISBN: <input [(ngModel)]="local_libro.ISBN" class="input hover:input-solid flex-shrink" placeholder="ISBN">
      </span>
      <span>
        Nombre: <input [(ngModel)]="local_libro.Name" class="input hover:input-solid flex-shrink" placeholder="Nombre">
      </span>
      <span>
        Autor: <select [(ngModel)]="local_libro.Author" class="input">
          @for (item of authors; track $index)
          {
          @if(local_libro.Author == item.AuthorId)
          {
          <option [value]="item.AuthorId" selected>{{item.AuthorId}} - {{item.Name}}</option>
          }
          @else
          {
          <option [value]="item.AuthorId">{{item.AuthorId}} - {{item.Name}}</option>
          }
          }
        </select>
      </span>
      <span>
        Editorial: <select [(ngModel)]="local_libro.Publisher" class="input">
          @for (item of publishers; track $index)
          {
          @if(local_libro.Publisher == item.PublisherId)
          {
          <option [value]="item.PublisherId" selected>{{item.PublisherId}} - {{item.Name}}</option>
          }
          @else
          {
          <option [value]="item.PublisherId">{{item.PublisherId}} - {{item.Name}}</option>
          }
          }
        </select>
      </span>
      <span>
        Fecha de Lanzamiento: <input class="input hover:input-solid flex-shrink" placeholder="Fecha de Lanzamiento"
          type="date" [value]="convertToHTML(local_libro.LaunchDate)">
      </span>
      <span>
        Imagen: <input [(ngModel)]="local_libro.Image" class="input hover:input-solid flex-shrink" placeholder="Imagen"
          type="text">
      </span>
      <span>
        Precio: <input [(ngModel)]="local_libro.Price" class="input hover:input-solid flex-shrink" placeholder="Precio"
          type="number">
      </span>
      <span>
        Synopsis: <textarea [(ngModel)]="local_libro.Synopsis" class="textarea input hover:input-solid flex-shrink"
          placeholder="Synopsis"></textarea>
      </span>
      <span>
        Stock: <input [(ngModel)]="local_libro.Stock" class="input hover:input-solid flex-shrink" placeholder="Precio"
          type="number">
      </span>
    </div>
    <div class="flex gap-3">
      @if (libroPtr.ISBN == '')
      {
      <button class="btn btn-outline-success btn-block" for="modal-1" (click)="saveInstance();">Guardar</button>
      }
      @else
      {
      <button class="btn btn-outline-success btn-block" for="modal-1" (click)="saveInstance();">Actualizar</button>
      }
      <button class="btn btn-error btn-block" for="modal-1" (click)="descartarCambios();">Cancelar</button>
    </div>
  </div>
</div>