<div class="card max-w-full max-h-full min-h-full gap-5">
    <app-glowing-text textContent="Comprar" class="text-center"></app-glowing-text>
    <div class="flex flex-col items-center gap-5">
        <app-credit-card #cardRef></app-credit-card>
        <div class="flex flex-row gap-5">
            <button class="btn btn-solid-primary hover:btn-primary" (click)="onPurchase();"
                (submit)="onPurchase();">Comprar</button>
            <button class="btn btn-solid-error hover:btn-error" (click)="clearDetails();">Clear</button>
        </div>
    </div>
</div>