<div class="flex flex-row flex-wrap overflow-scroll w-full h-full">
    <div class="navbar h-1/6">
        <div class="navbar-center">
            <a class="navbar-item">
                <app-glowing-text textContent="Autores"></app-glowing-text>
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item">
                <button class="btn hover:btn-primary" (click)="onAddClick();">Add</button>
            </a>
        </div>
    </div>

    <app-author-table class="w-full h-full" [header]="table_Header" [body]="table_Body" (onEdit)="onEditClick($event);" (onDelete)="onDeleteClick($event);" #tableRef></app-author-table>

    <app-author-popup #popupRef></app-author-popup>
</div>